*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

.Box{
    background-color: rgba(50,100,150,0.5);
    padding-bottom: 20px;
}

.input-wrapper{
    text-align: center; 
}

h3{
    color: tomato !important;
    font-family: "monospace";
    text-align: center;
}

h1 {
    border: 0;
    margin: 0;
    color: chartreuse !important;
    font-family: "monospace";
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/05/04/15/12/welcome-sign-2284312_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("https://cdn.pixabay.com/photo/2015/06/08/08/30/instruments-801271_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*
.song-page-opacity{
    height:100%;
    width:100%;
    background-color: rgba(250,00,00,0.3);
}*/

.song-page header {
    height: 80px;
    background-color: rgba(1f,1f,1f,0.3);
    padding: 1rem;
    color: #FFF;
}

.song-page .content {
    flex:1;
    background-color: rgba(250,00,00,0.3);
}

.song-page footer {
    height: 80px;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: white;
    font-weight: bold;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;
}

.song-page .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: right;
}

.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}

/*DataTables overrides*/
table.dataTable tbody tr {
background-color: initial;
}
#songs_info {
display: none;
}

#songs_filter {
color: transparent;
}
#songs_filter input {
width: 400px;
margin-bottom: 1rem;
font-size: 16px;
color:black;
}

tbody{
    cursor:default;
}

.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}

.Song-repeat{
    cursor:default;
}

.Song-repeat.disabled{
    color:gray;
}