/* - - - Piano Css - - - */

.wrapper {
    height: 100%;
    width: 100%;
}

.virtual-piano{
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2017/04/11/21/53/piano-2222955_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.piano-box{
  height:300px;
  width:800px;  
  margin:100px ;
  position: absolute;
}

.white-key{
  background: linear-gradient(lightgray,white) ;
  height:300px;
  width: 6.66% ;
  margin:-2px;
  box-shadow: inset 2px 2px 9px 0px black, inset -1px -1px 6px 0px black, 1px 0px grey, -1px 5px grey;
  border:none;
  border-radius:0px 0px 4px 4px;
  text-shadow: 0px 0 white, 0 125px black, 0px 0 white, 0 0px white;
  color:#d3d3d3;
}

.black-key{
  background:linear-gradient(#111,#444);
  position: absolute;
  width: 3.33% ;
  height:66.66%;
  margin-top: -2px;
  border:none;
  border-radius: 0px 0px 3px 3px;
  box-shadow: inset 2px 0px 0px 2px black, inset -1px -10px 6px 0px black, -1px 0px grey, 2px 3px grey;
  text-shadow:0px 0 black, 0 78px white, 0px 0 black, 0 0px black;
  color:#333;
}

header{
    height: 50px;
}

footer{
    height:50px;
}

#BK0{
    margin-left: -91% ;
}

#BK1{
    margin-left: -84.50%;
}

#BK2{
    margin-left: -72.33%;
}

#BK3{
    margin-left: -66.0%;
}

#BK4{
    margin-left: -59.66%;
}

#BK5{
    margin-left: -46.33%;
}

#BK6{
    margin-left: -40%;
}

#BK7{
    margin-left: -27%;
}

#BK8{
    margin-left: -20.66%;
}

#BK9{
    margin-left: -14%;
}

footer{
  font-size:50;
  font-family: "Comic Sans MS";
  color: red;
  text-align: center;
}